annotated-types==0.7.0
beautifulsoup4==4.13.3
certifi==2025.1.31
charset-normalizer==3.4.1
click==8.1.8
idna==3.10
jobsparser==0.1.6
jobspy2==0.0.5
markdownify==0.14.1
numpy==1.26.3
pandas==2.2.3
pydantic==2.10.6
pydantic_core==2.27.2
python-dateutil==2.9.0.post0
pytz==2025.1
regex==2024.11.6
requests==2.32.3
setuptools==75.8.0
six==1.17.0
soupsieve==2.6
tls-client==1.0.1
typing_extensions==4.12.2
tzdata==2025.1
urllib3==2.3.0
wheel==0.44.0
